/*
    Colors:
    - White: #ffffff
    - Off-Black: #151414
*/

body {
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
    font-family: Poppins, sans-serif;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
}

button {
    background-color: #151414;
    color: #fff;
    text-decoration: none;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 400;
    padding: 10px 30px;
    transition: all .3s ease-in-out;
}

button:hover {
    background-color: #fff;
    color: #151414;
    cursor: pointer;
    -webkit-filter: drop-shadow(0 5px 15px rgba(0,0,0,.3));
    filter: drop-shadow(0 5px 15px rgba(0,0,0,.3));
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
}

a.border {
    color: #151414;
    text-decoration: none;
    border-bottom: 1px solid #151414;
    transition: all .3s ease-in-out;
    cursor: pointer;
}

a.border:hover {
    color: #0069ff;
    border-bottom: 1px solid #0069ff;
}

h1 {
    font-size: 3.5rem;
    font-weight: 700;
}

h2 {
    font-size: 2rem;
    font-weight: 700;
}

h3 {
    font-size: 1.25rem;
    font-weight: 400;
}

.mt {
    margin-top: 1rem;
}

.mb {
    margin-bottom: 1rem;
}

.mr {
    margin-right: 1rem;
}

.ml {
    margin-left: 1rem;
}