/* Banner */
section.section-banner {
    display: flex;
    height: 100vh;
    width: 100%;
    position: relative;
}

div.banner-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 550px;
}

img.profile-pic {
    border-radius: 50%;
    width: 200px;
}

div.socials-container {
    margin: 1rem 0 1.5rem 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

div.socials-container a {
    width: 2.5rem;
    margin-right: 1.5rem;
    transition: all .3s ease-in-out;
}

div.socials-container a:hover {
    -webkit-filter: drop-shadow(0 5px 15px rgba(0,0,0,.3));
    filter: drop-shadow(0 5px 15px rgba(0,0,0,.3));
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
}

button.down-arrow {
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    transition: none;
    transform: none;
    -webkit-transform: none;

    cursor: pointer;
    color: #151414;
    position: absolute;
    
    animation: MoveUpDown 2.5s ease-in-out infinite;
}

@keyframes MoveUpDown {
    0%, 100% {
      bottom: 5rem;
    }

    50% {
      bottom: 4rem;
    }
}

/* JSON */
section.section-json {
    flex-direction: column;
}

div.json-container {
    background-color: #282c34;
    color: #cdcdcd;

    margin: 1rem 0;
    padding: 3rem 4rem;
    width: 550px;
    border-radius: 1rem;

    position: relative;
}

div.window-btns {
    margin: 1rem 0;
}

div.window-btns svg {
    position: absolute;
    top: 1rem;
    left: 1rem;
}

p.indent {
    margin-left: 2rem;
}

span.key {
    color: #56b6c2;
    margin-right: 0.25rem;
}

span.value {
    color: #98c379;
}

span.value.number {
    color: #d19a66;
}

span.value a {
    color: #98c379;
    text-decoration: none;
    border-bottom: 1px solid #98c379;
}

/* Work */
section.section-work {
    flex-direction: column;
}

div.card {
    margin: 1rem 0;
    width: 800px;
    padding: 1.5rem;
    border-radius: 1rem;
    background-color: #fdfdfd;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

    box-shadow: 0 5px 15px rgba(0,0,0,.25);
}

img.card-pic {
    width: 150px;
    border-radius: 50%;
    transition: all .3s ease-in-out;
}

img.card-pic:hover {
    -webkit-filter: drop-shadow(0 5px 15px rgba(0,0,0,.3));
    filter: drop-shadow(0 5px 15px rgba(0,0,0,.3));
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
}

div.card-details {
    padding-left: 1.5rem;
    flex: 1;
}

span.position-date {
    font-size: 0.75rem;
    color: #696969;
}

ul.position-desc {
    margin: 0;
    padding: 0;
}

ul.position-desc li {
    margin: 0.5rem 1.5rem;
}

ul.tech-labels {
    padding: 0;
    margin: 0.5rem 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
}

ul.tech-labels li {
    margin: 0.25rem;
    padding: 0.25rem 0.75rem;
    border-radius: 1rem;
    background-color: #151414;
    color: #cdcdcd;
    font-size: 0.75rem;
    transition: all .3s ease-in-out;
}

ul.tech-labels li:hover {
    cursor: default;
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    -webkit-filter: drop-shadow(0 5px 15px rgba(0,0,0,.3));
    filter: drop-shadow(0 5px 15px rgba(0,0,0,.3));
}

/* Projects */
section.section-projects {
    flex-direction: column;
}

section.section-projects div.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
    width: 800px;
}

section.section-projects img.card-pic {
    width: 100px;
    border-radius: 1em;
}

div.project-links {
    margin: 0.5rem 0;
}

div.project-links a {
    display: inline-block;
    margin-right: 0.25rem;
}

div.project-links img {
    width: 20px;
    transition: all .3s ease-in-out;
}

div.project-links img:hover {
    -webkit-filter: drop-shadow(0 5px 15px rgba(0,0,0,.3));
    filter: drop-shadow(0 5px 15px rgba(0,0,0,.3));
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
}

/* Music */
section.section-music {
    flex-direction: column;
}

section.section-music img.card-pic {
    border-radius: 1em;
}

/* Cat Corner */
section.section-cat {
    flex-direction: column;
}

div.cat-slideshow {
    margin: 2rem 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 550px;
    height: 300px;
}

img.cat-img {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    object-fit: cover;
}

button.slideshow-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 1rem;
    border: none;
    background-color: rgba(21, 20, 20, 0.5);
    color: #ffffff;
    font-size: 2rem;
    border-radius: 0;
}

button.slideshow-btn:hover {
    cursor: pointer;
}

button.slideshow-btn.left {
    left: 0;
}

button.slideshow-btn.right {
    right: 0;
}

/* Footer */
footer {
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    color: #151414;
    font-size: 0.75rem;
    background-color: #efefef
}

/* Media Queries for Phone */
@media (max-width: 820px) {
    body {
        font-size: 14px;
    }
    
    section {
        padding: 2rem;
    }

    div.json-container {
        width: 100%;
        padding: 3rem 2rem;
    }

    div.card {
        width: 100%;
        flex-direction: column;
        text-align: center;
    }

    div.card-details {
        padding: 1.5rem 0 0 0;
    }

    section.section-projects div.row {
        flex-direction: column;
        width: 100%;
        gap: 0rem;
    }

    ul.position-desc {
        text-align: left;
        margin-left: 1rem;
    }

    ul.tech-labels {
        justify-content: center;
    }

    ul.tech-labels li {
        font-size: 0.75rem;
    }

    div.cat-slideshow {
        max-width: 100%;
        max-height: 100%;
    }
}

@media (max-width: 550px) {
    div.banner-container {
        flex-direction: column;
        text-align: center;
    }

    div.socials-container {
        justify-content: center;
    }

    div.socials-container a{
        margin: 0 1rem;
    }
}